<nav class="py-6 relative shadow-md bg-white dark:bg-gray-800">
  <div class="container mx-auto">
    <div class="flex justify-between items-center">
      <div class="logo">
        <img
          src="../../../../assets/images/Asset-5@4x-1536x262 1.png"
          alt="Logo"
          class="w-[8rem]"
        />
      </div>
      <!-- Burger Icon for Small Screens -->
      <div class="md:hidden">
        <button (click)="toggleMenu()" class="">
          <i class="pi pi-bars text-3xl text-blue-500"></i>
        </button>
      </div>
      <div class="list hidden md:block">
        <ul class="flex items-center">
          <ng-container *ngTemplateOutlet="menuItems"></ng-container>
        </ul>
      </div>
      <div class="lang hidden md:block" >
        <select
        [(ngModel)]="selectedLang"
        (change)="changeLanguage(selectedLang)"
        class="border rounded p-3"
      >
        <option value="en">English</option>
        <option value="ar">العربية</option>
      </select>
    </div>
    </div>
   
  </div>
  <!--for mobile-->
  <div
    class="absolute top-20 left-0 w-full bg-white shadow-md p-4 md:hidden z-40"
    *ngIf="menuOpen"
  >
    <ul class="flex flex-col items-start gap-4">
      <ng-container *ngTemplateOutlet="menuItems"></ng-container>
    </ul>
  </div>
  <ng-template #menuItems>
        <li>الرئيسية</li>
  </ng-template>
</nav>
